**/vendor/
**/node_modules/
**/npm-debug.log
**/package-lock.json

# Laravel specific
**/.env
**/Homestead.yaml
**/Homestead.json
**/bootstrap/compiled.php
**/app/storage/debugbar/*
**/app/storage/logs/*.log

**/public/serviceworker.js
**/public/service-worker/
**/public/mix-manifest.json
**/public/storage
**/public/images
**/public/vendor
**/public/fonts
**/public/css
**/public/js
**/public/hot

**/storage/*.key
**/storage/app/public/avatars
**/storage/app/settings.json

**/*.sqlite
**/yarn-error.log
**/.phpunit.result.cache
**/.vagrant
**/.settings
